style {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: antiquewhite;
    letter-spacing: 0.08em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #35424a;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
	display: flex;
	width: 30%;
	justify-content: space-around;
}

.nav-links li {
list-style-type: none;
}

.nav-links a {
color: rgb(226, 226, 226);
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 14px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.button_1 {
border-radius: 8px;
height: 38px;
background: #e8491d;
border: 0;
padding-left: 20px;
padding-right: 20px;
color: #ffffff;
margin-top: 10px;
}

.button_1:hover {
font-weight: bold;
}

.dark {
border-radius: 10px;
padding: 15px;
background: #35424a;
color: #fff;
margin-top: 10px;
margin-bottom: 10px;
}

.burger {
display: none;
cursor: pointer;
}

.burger div {
width: 25px;
height: 3px;
background-color: rgb(226, 226, 226);
margin: 5px;
transition: all 0.3s ease;
}

header {
background-color: #35424a;
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #e8491d 3px solid;
}

header a {
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
transition: 0.6s ease;
}

header li {
display: inline;
padding: 0 20px 0 20px;
}

header #branding {
float: left;
}

header #branding h1 {
margin: 0;
}

header nav {
float: right;
margin-top: 10px;
}

header .highlight,
header .current a {
color: #e8491d;
font-weight: bold;
}

header a:hover {
color: #cccccc;
font-weight: bold;
}

#showcase {
min-height: 400px;
background-size: cover;
padding-top: 50px;
text-align: center;
font-size: 30px;
background-color: antiquewhite;
color: black;
letter-spacing: 0.08em;
}

#newsletter {
padding: 15px;
color: #ffffff;
background-color: #35424a;
}

#newsletter h1 {
float: left;
}

#newsletter form {
border-radius: 10px;
float: right;
margin-top: 15px;
}

#newsletter input[type="email"] {
border-radius: 8px;
padding: 4px;
height: 25px;
width: 250px;
}

#paragraph {
padding-top: 3px;
padding-left: 90px;
font-size: 3px solid;
letter-spacing: 0.08em;
}

aside#sidebar {
float: right;
width: 30%;
margin-top: 10px;
}

article#p_1 {
float: left;
width: 60%;
}

ul#contact li {
box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
list-style: none;
padding: 20px;
border: #cccccc solid 1px;
margin-bottom: 20px;
background: #e6e6e6;
}

div>input {
border-radius: 7px;
}

footer {
background-color: #e8491d;
color: #ffffff;
text-align: center;
font-weight: bold;
min-height: 60px;
padding-top: 20px;
}

@media screen and (max-width:1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}

.nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 20vh;
    background-color: #35424a;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
    opacity: 0;
}

.burger {
    display: block;
}

}

.nav-active {
transform: translateX(0);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}

to {
    opacity: 1;
    transform: translateX(0px);
}
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}

@media(max-width: 768px) {

header #branding,
header nav,
header nav li,
#newsletter h1,
#newsletter form,
article#p_1,
aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
}

header {
    padding-bottom: 20px;
}

#showcase h1 {
    margin-top: 40px;
}

#newsletter button,
.quote button {
    display: block;
    width: 100%;
}

#newsletter form input[type="email"],
.quote input,
.quote textarea {
    width: 100%;
    margin-bottom: 5px;
}
}
